 You have been tasked to process stations data to understand electric car usage over time by solving for the following research question;

Research Question

1. Identify the most popular hour of the day for picking up a shared electric car (Bluecar) in the city of Paris over the month of April 2018.

Bonus Questions (Optional)

2. What is the most popular hour for returning cars?

3. What station is the most popular?

    a) Overall?

    b) At the most popular picking hour?

4. What postal code is the most popular for picking up Blue cars? Does the most popular station belong to that postal code?

    a) Overall?

    b) At the most popular picking hour?

5. Do the results change if you consider Utilib and Utilib 1.4 instead of Blue cars?

In [0]:
#Importing the pandas library
#
import pandas as pd

In [0]:
#Importing the numpy library
#
import numpy as np

In [0]:
#import datetime
import datetime
 
 
import time

from datetime import datetime , timedelta

In [3]:
# Making the dataframe from the csv file
#
df = pd.read_csv('/content/Autolib_dataset (2).csv')
df

                                 Address  Cars  ...  hour  minute
0                    2 Avenue de Suffren     0  ...    11      43
1              145 Rue Raymond Losserand     6  ...     7      24
2       2 Avenue John Fitzgerald Kennedy     3  ...    20      14
3                 51 Rue EugÃ¨ne OudinÃ©     3  ...     4      37
4     6 avenue de la Porte de Champerret     3  ...    17      23
...                                  ...   ...  ...   ...     ...
4995                 8 avenue MÃ©nelotte     2  ...    11      26
4996                   37 rue de Dantzig     4  ...    16      56
4997                      142 rue du Bac     1  ...     7       1
4998         2 avenue du Val de Fontenay     2  ...    17      27
4999                 5 Rue Henry Brisson     4  ...    10       2

[5000 rows x 25 columns]

LOADING OUR DATA

The dataset we are using contains information of autolib cars in France

In [14]:
#loading the autolib.csv
auto=pd.read_csv('Autolib_dataset (2).csv')
auto

                                 Address  Cars  ...  hour  minute
0                    2 Avenue de Suffren     0  ...    11      43
1              145 Rue Raymond Losserand     6  ...     7      24
2       2 Avenue John Fitzgerald Kennedy     3  ...    20      14
3                 51 Rue EugÃ¨ne OudinÃ©     3  ...     4      37
4     6 avenue de la Porte de Champerret     3  ...    17      23
...                                  ...   ...  ...   ...     ...
4995                 8 avenue MÃ©nelotte     2  ...    11      26
4996                   37 rue de Dantzig     4  ...    16      56
4997                      142 rue du Bac     1  ...     7       1
4998         2 avenue du Val de Fontenay     2  ...    17      27
4999                 5 Rue Henry Brisson     4  ...    10       2

[5000 rows x 25 columns]

PREVIEWING THE DATA

In [15]:
# view the first 10
auto.head(11)

                               Address  Cars  ...  hour  minute
0                  2 Avenue de Suffren     0  ...    11      43
1            145 Rue Raymond Losserand     6  ...     7      24
2     2 Avenue John Fitzgerald Kennedy     3  ...    20      14
3               51 Rue EugÃ¨ne OudinÃ©     3  ...     4      37
4   6 avenue de la Porte de Champerret     3  ...    17      23
5                 8 Boulevard Voltaire     0  ...     7       2
6                       37 rue Leblanc     0  ...    18      20
7          17 Rue des Luaps ProlongÃ©e     3  ...    22      13
8                34 avenue Jean Moulin     1  ...    22      58
9         41 boulevard de Rochechouart     6  ...    15       2
10                      14 rue Censier     0  ...     4      39

[11 rows x 25 columns]

ACCESSING OUR DATASET INFORMATION

This will help to understand the data type of each column and change if need be.

In [16]:
auto.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 25 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Address              5000 non-null   object
 1   Cars                 5000 non-null   int64
 2   Bluecar counter      5000 non-null   int64
 3   Utilib counter       5000 non-null   int64
 4   Utilib 1.4 counter   5000 non-null   int64
 5   Charge Slots         5000 non-null   int64
 6   Charging Status      5000 non-null   object
 7   City                 5000 non-null   object
 8   Displayed comment    111 non-null    object
 9   ID                   5000 non-null   object
 10  Kind                 5000 non-null   object
 11  Geo point            5000 non-null   object
 12  Postal code          5000 non-null   int64
 13  Public name          5000 non-null   object
 14  Rental status        5000 non-null   object
 15  Scheduled at         47 non-null     object
 16  Slots                5000 non-null   int64
 17  Station type         5000 non-null   object
 18  Status               5000 non-null   object
 19  Subscription status  5000 non-null   object
 20  year                 5000 non-null   int64
 21  month                5000 non-null   int64
 22  day                  5000 non-null   int64
 23  hour                 5000 non-null   int64
 24  minute               5000 non-null   int64
dtypes: int64(12), object(13)
memory usage: 976.7+ KB

DATA CLEANING

We will follow the data cleaning procedure to clean this data;

1. VALIDITY

In [0]:
#removing unwanted columns
auto=auto.drop(['Displayed comment','Geo point','Scheduled at','Status','Address','Charging Status','Charge Slots','ID'],axis=1)

In [0]:
#merging year, month and day as date.
auto['dateint'] =auto['year'].astype(str) + auto['month'].astype(str).str.zfill(2) + auto['day'].astype(str).str.zfill(2)
auto['date']=pd.to_datetime(auto['dateint'])

In [19]:
# dropping the columns that are not reqiured
auto=auto.drop(['month','year','day','minute','dateint'],axis=1)
auto.head()

   Cars  Bluecar counter  Utilib counter  ...  Subscription status hour       date
0     0                0               0  ...          nonexistent   11 2018-04-08
1     6                6               0  ...          nonexistent    7 2018-04-06
2     3                3               0  ...          nonexistent   20 2018-04-03
3     3                3               1  ...          nonexistent    4 2018-04-04
4     3                3               0  ...          nonexistent   17 2018-04-08

[5 rows x 14 columns]

2. COMPLETENESS


We are looking for missing values that may affect our analysis. using isnull value we will tell how many missing values or null values. Then we will decide to drop them or replace them

In [21]:
#Finding the number  of missing values in each column
#
auto.isnull().sum()

Cars                   0
Bluecar counter        0
Utilib counter         0
Utilib 1.4 counter     0
City                   0
Kind                   0
Postal code            0
Public name            0
Rental status          0
Slots                  0
Station type           0
Subscription status    0
hour                   0
date                   0
dtype: int64

3. CONSISTENCY

We will look for duplicates in our data then delete them

In [24]:
#Finding duplicated values in the datset
#
auto.duplicated()

0       False
1       False
2       False
3       False
4       False
        ...
4995    False
4996    False
4997    False
4998    False
4999    False
Length: 5000, dtype: bool

In [25]:
# We will drop any duplicates,if exists
auto.drop_duplicates()

      Cars  Bluecar counter  ...  hour       date
0        0                0  ...    11 2018-04-08
1        6                6  ...     7 2018-04-06
2        3                3  ...    20 2018-04-03
3        3                3  ...     4 2018-04-04
4        3                3  ...    17 2018-04-08
...    ...              ...  ...   ...        ...
4995     2                2  ...    11 2018-04-06
4996     4                4  ...    16 2018-04-04
4997     1                1  ...     7 2018-04-01
4998     2                2  ...    17 2018-04-04
4999     4                4  ...    10 2018-04-08

[4974 rows x 14 columns]

4. UNIFORMITY

We will change the column names to our liking to ease our analysis

In [26]:
auto=auto.rename(columns={'Cars':'cars','Bluecar counter':'bluecar','Utilib counter':'utilib','Utilib 1.4 counter':'utilib 1.4'})
auto.head()

   cars  bluecar  utilib  ...  Subscription status hour       date
0     0        0       0  ...          nonexistent   11 2018-04-08
1     6        6       0  ...          nonexistent    7 2018-04-06
2     3        3       0  ...          nonexistent   20 2018-04-03
3     3        3       1  ...          nonexistent    4 2018-04-04
4     3        3       0  ...          nonexistent   17 2018-04-08

[5 rows x 14 columns]

  DATA ANALYSIS

1. Identify the most popular hour of the day for picking up a shared electric car (Bluecar) in the city of Paris over the month of April 2018.

In [27]:
# We filter our data to the month of April in the city of Paris and finding the number of cars available in the station,
#hence getting the most popular hour for picking a  shared car.
paris=auto[(auto['City']== 'Paris') & (auto['date']>='2018-04-01') & (auto['date']<='2018-04-30') & (auto['Rental status']=='operational')]
tables=pd.pivot_table(paris,values=['bluecar','utilib','utilib 1.4'],index=['hour'],aggfunc=np.sum)
tables
sum_cars = tables['bluecar'] +tables['utilib 1.4'] + tables['utilib']
tables['total_cars'] = sum_cars
tables.sort_values(by='total_cars',ascending=0).head(2)

#21hr and 6th hour are the best hours for picking up an electric car in Paris in the month of April

      bluecar  utilib  utilib 1.4  total_cars
hour
21        268       8          20         296
6         260      13          15         288

2. What is the most popular hour for returning cars?

In [28]:
car_retur = pd.pivot_table(auto,values=['Slots'],index=['hour'],aggfunc=np.sum)
car_retur.sort_values(by='Slots',ascending=0).head(3)
#14th hour is the most popular hour for returning cars. Its the hour with the highest number of slots

      Slots
hour
14      441
2       440
21      438

3. What station is the most popular?

a) Overall?

In [29]:
# The overall popular station is the station with the highest number of cars available
auto['total_resources']=auto['bluecar']+auto['utilib']+auto['utilib 1.4']
auto.pivot_table(values=['total_resources'],index=['Public name'],aggfunc=np.sum).sort_values(by='total_resources',ascending=0).head(3)

                                       total_resources
Public name
Fontenay-aux-Roses/Robert Marchand/32               50
Paris/Porte de Montrouge/8                          50
Le Plessis-Robinson/GalilÃ©e/16                     49

  b) At the most popular picking hour?

In [30]:
# the most popular station At the most popular picking hour.
data=auto[auto['Rental status']=='operational']
data
pop=pd.pivot_table(data,values=['bluecar','utilib','utilib 1.4'],index=['hour'],aggfunc=np.sum)
pop
t=pop['bluecar']+pop['utilib'] +pop['utilib 1.4']
pop['total'] = t
pop
pop.sort_values(by='total',ascending=0).head(3)

      bluecar  utilib  utilib 1.4  total
hour
6         608      15          31    654
5         552      17          34    603
7         555      17          29    601

In [31]:
#the 6th hour was the most popular picking hour.

station_hour=data[data['hour']==6]
public=pd.pivot_table(station_hour,values=['bluecar','utilib','utilib 1.4'],index=['Public name','Station type'],aggfunc=np.sum)
tot=public['bluecar']+public['utilib 1.4']+public['utilib']
public['total']=tot
public.sort_values(by='total',ascending=0).head(3)

                                                           bluecar  ...  total
Public name                                  Station type           ...
Garches/Raymond PoincarÃ©/102                station            11  ...     11
Clichy-la-Garenne/Jean JaureÌs/122          station            11  ...     11
Le Plessis-Robinson/ChaussÃ©e de l'Etang/109 station             9  ...      9

[3 rows x 4 columns]

In [0]:
#Garches/Raymond PoincarÃ©/102 is the most popular station at the popular picking hour

4. What postal code is the most popular for picking up Blue cars?

In [32]:
#lets group our data by postal code and station 
auto.pivot_table(values='bluecar',index=['Postal code','Public name'],aggfunc=np.sum).sort_values(by='bluecar',ascending=0).head(3)

                                                   bluecar
Postal code Public name
92260       Fontenay-aux-Roses/Robert Marchand/32       50
92350       Le Plessis-Robinson/GalilÃ©e/16             49
92260       Fontenay-aux-Roses/Lombard/20               47

In [0]:
# 92260 is the most popular postal code for picking a bluecar

5. Do the results change if you consider Utilib and Utilib 1.4 instead of Blue cars?

In [33]:
#The postal code and station utilib and uilib 1.4
to=auto['utilib']+auto['utilib 1.4']
auto['total_utilibs']=to
auto.pivot_table(values=['total_utilibs'],index=['Postal code','Public name'],aggfunc=np.sum).sort_values(by='total_utilibs',ascending =0).head(3)

                                        total_utilibs
Postal code Public name
92310       SÃ¨vres/Grande Rue/123                 12
75014       Paris/Porte de Montrouge/8             11
75017       Paris/Mac Mahon/5                       8

In [0]:
#the results are different for utilib cars